<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>User Information</title>
</head>

<body>
    <header>
        <h1>Yoy have been logged out!</h1>
    </header>

    <footer>
        Prashant Mall 10459371 <br />
        Spring 21 Student

        <a href="/">Login</a>
    </footer>
</body>

</html>